<div class="row">
  <div class="col-md">
    <h1>Edição Funcionário</h1>
  </div>
</div>
<form [formGroup]="cadastroForm" (ngSubmit)="salvar()" autocomplete="off">
  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <label for="nomeFuncionario">Nome</label>
        <input type="text" formControlName="nome" class="form-control" id="nomeFuncionario"
          aria-describedby="nomeFuncionario" required maxlength="150">
        <div *ngIf="tentouSalvar && cadastroForm.get('nome').errors" class="alert alert-danger">
          <div *ngIf="cadastroForm.get('nome').errors.required" class="mensagem-erro-form">Nome é obrigatório</div>
          <div *ngIf="cadastroForm.get('nome').errors.maxlength" class="mensagem-erro-form">
            Tamanho máximo: {{ cadastroForm.get('nome').errors.maxlength.requiredLength}}
            Tamanho atual: {{ cadastroForm.get('nome').errors.maxlength.actualLength}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="cpfFuncionario">CPF</label>
        <input type="text" appMascaraCpf formControlName="cpf" class="form-control" id="cpfFuncionario"
          aria-describedby="cpfFuncionario" required maxlength="14">
        <div *ngIf="tentouSalvar && cadastroForm.get('cpf').errors" class="alert alert-danger">
          <div *ngIf="cadastroForm.get('cpf').errors.required" class="mensagem-erro-form">CPF é obrigatório</div>
          <div *ngIf="cadastroForm.get('cpf').dirty && cadastroForm.get('cpf').errors.cpfInvalido"
            class="mensagem-erro-form">
            CPF inválido
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="dataContratacaoFuncionario">Data Contratação</label>
        <input type="date" formControlName="dataContratacao" class="form-control" id="dataContratacaoFuncionario"
          aria-describedby="dataContratacaoFuncionario">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-secondary" routerLink="/funcionarios">Voltar</button>
      </div>
    </div>
  </div>
</form>