<div class="row">
  <div class="col-md">
    <h1>Cadastro Empresa</h1>
  </div>
</div>
<form [formGroup]="cadastroForm" (ngSubmit)="salvar()" autocomplete="off">
  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <label for="nomeEmpresa">Nome</label>
        <input type="text" formControlName="nome" class="form-control" id="nomeEmpresa" aria-describedby="nomeEmpresa"
          required maxlength="150">
        <div *ngIf="tentouSalvar && cadastroForm.get('nome').errors" class="alert alert-danger">
          <div *ngIf="cadastroForm.get('nome').errors.required" class="mensagem-erro-form">Nome é obrigatório</div>
          <div *ngIf="cadastroForm.get('nome').errors.maxlength" class="mensagem-erro-form">
            Tamanho máximo: {{ cadastroForm.get('nome').errors.maxlength.requiredLength}}
            Tamanho atual: {{ cadastroForm.get('nome').errors.maxlength.actualLength}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="cnpjEmpresa">CNPJ</label>
        <input type="text" appMascaraCnpj formControlName="cnpj" class="form-control" id="cnpjEmpresa"
          aria-describedby="cnpjEmpresa" required maxlength="18">
        <div *ngIf="tentouSalvar && cadastroForm.get('cnpj').errors" class="alert alert-danger">
          <div *ngIf="cadastroForm.get('cnpj').errors.required" class="mensagem-erro-form">CNPJ é obrigatório</div>
          <div *ngIf="cadastroForm.get('cnpj').dirty && cadastroForm.get('cnpj').errors.cnpjInvalido"
            class="mensagem-erro-form">
            CNPJ inválido
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="dataFundacaoEmpresa">Data Fundação</label>
        <input type="date" formControlName="dataFundacao" class="form-control" id="dataFundacaoEmpresa"
          aria-describedby="dataFundacaoEmpresa">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-secondary" routerLink="/empresas">Voltar</button>
      </div>
    </div>
  </div>
</form>